<div class="container">
    <h1>Crud de Miguel Ángel Cobo Pérez</h1>
    
    <a href="#" routerLink="/post/crear/" class="btn btn-success">Crear Nuevo Post</a>
      
    <table class="table table-striped">
        <thead>
              <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descripción</th>
                <th width="250px">Acción</th>
              </tr>
        </thead>
        <tbody>
              <tr *ngFor="let post of posts">
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.body }}</td>
                <td>
                  <a href="#" [routerLink]="['/post/', post.id, 'vista']" class="btn btn-info">Vista</a>
                  <a href="#" [routerLink]="['/post/', post.id, 'editar']" class="btn btn-primary">Editar</a>
                  <button type="button" (click)="deletePost(post.id)" class="btn btn-danger">Eliminar</button>
                </td>
              </tr>
        </tbody>
    </table>
 </div>